:root {
	--highlight-color: #858c72;
	--text-color: #c8ceb8;
	--background-color: #1b1b1f;
	--border-radius: 5px;
}

body {
	background-color: var(--background-color);
}

.loading {
	text-align: center;
	margin-top: 150px;
	color: var(--text-color);
}

.App {
	font-family: "Roboto", serif;
	color: var(--text-color);
}

.container {
	max-width: 60%;
	border-top: solid 4px var(--highlight-color);
	border-bottom: solid 4px var(--highlight-color);
	padding: 40px;
	margin: 40px auto 0 auto;
}

form {
	display: flex;
	justify-content: center;
}

input {
	padding: 10px 20px;
	font-size: 15px;
	border-radius: var(--border-radius);
}

.input-text {
	flex: 4;
	background-color: transparent;
	border: solid 2px var(--highlight-color);
	color: var(--text-color);
}

::placeholder {
	color: var(--text-color);
}

.input-text:focus {
	border: solid 2px var(--text-color);
	outline: none;
}

.input-submit {
	flex: 1;
	margin-left: 10px;
	border: solid 2px var(--highlight-color);
	color: var(--text-color);
	background-color: transparent;
}

.error-message {
	margin-top: 5px;
	font-weight: bold;
}

.input-submit:hover {
	border: solid 2px var(--text-color);
}

.title-position {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.title {
	margin-bottom: 40px;
}

h1,
h2 {
	font-size: 70px;
	line-height: 70px;
	margin-bottom: 5px;
}

.degrees {
	font-size: 30px;
	vertical-align: super;
}

.degreesLink {
	text-decoration: none;
	color: var(--highlight-color);
	opacity: 0.7;
}

.icon-container {
	display: flex;
	align-items: baseline;
}

.icon-container img {
	position: relative;
	top: 20px;
}

ul {
	list-style: none;
	padding-left: 0;
	width: 200px;
}

li {
	border-bottom: solid 1px var(--highlight-color);
	padding-bottom: 4px;
	margin-bottom: 6px;
}

.footer {
	text-align: center;
	margin-top: 10px;
	font-size: small;
}

.footer a {
	color: var(--text-color);
}
